<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nop Commerce Test">
    <test verbose="2" preserve-order="true" name="Nop Commerce Test">
        <classes>
            <class name="com.nopstation.pom.test.RegistrationTest">
            </class>
            <class name="com.nopstation.pom.test.PlaceOrderTest">
            </class>
        </classes>
    </test>
</suite>